# Dependencies
node_modules/

# Builds
dist/
build/

# Logs
*.log

# Environment variables
.env
.env.*
**/.env
**/.env.*

# Keep examples
!.env.example
!**/.env.example

# OS / editor
.DS_Store
.vscode/
